<!-- <!DOCTYPE html>
<html>
<head>
    <title>Remote Patient Monitoring</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}">
</head>
<body>
    <div class="container">
        <h1>Remote Patient Monitoring</h1>
        <form action="/predictw" method="post">
            <div class="form-group">
                <label for="heart_rate">Heart Rate:</label>
                <input type="text" id="heart_rate" name="heart_rate" required>
            </div>
            <div class="form-group">
                <label for="blood_pressure">Blood Pressure:</label>
                <input type="text" id="blood_pressure" name="blood_pressure" required>
            </div>
            <div class="form-group">
                <label for="temperature">Temperature:</label>
                <input type="text" id="temperature" name="temperature" required>
            </div>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html> -->
